@tailwind base;
@tailwind components;
@tailwind utilities;

#modalKu {
  display: block;
}
#tombol-musik {
  position: fixed;
  bottom: 9vh;
  right: 2vh;
  z-index: 1055;
  display: block;
}
#navigation {
  display: none;
}
